<%#
# SimpleMarkdown Form Partial

This partial renders a WYSIWYG text area to help writing Markdown text

## Local variables:

- `f`:
  A Rails form generator, used to help create the appropriate input fields.
- `field`:
  An instance of Administrate::Field::SimpleMarkdown.
%>

<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field simple_markdown">
  <%= f.text_area field.attribute %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    $(function() {
      new EasyMDE({
        element: document.getElementById('<%= field.html_id %>')
      });
    });
  </script>
<% end %>
