<%#
# SimpleMarkdown Form Partial

This partial renders a WYSIWYG text area to help writing Markdown text

## Local variables:

- `f`:
  A Rails form generator, used to help create the appropriate input fields.
- `field`:
  An instance of Administrate::Field::SimpleMarkdown.
%>

<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field simple_markdown">
  <%= f.text_area field.attribute,
    data: {
      hide_icons: field.hide_icons
    }
  %>
</div>
<%= content_for :javascript do %>
  <script type="text/javascript">
    $(function() {
      var el = document.getElementById('<%= field.html_id %>')
      var hideIcons = el.getAttribute('data-hide-icons');

      new EasyMDE({ element: el, hideIcons: hideIcons });
    });
  </script>
<% end %>
