<%#
# SimpleMarkdown Show Partial

This partial renders a Markdown field to HTML

## Local variables:

- `field`:
  An instance of Administrate::Field::SimpleMarkdown.
%>

<div class="simple_markdown"><%= field.to_html %></div>
